/*effects entire document*/

html {
    scroll-behavior: smooth; /*smooth page scrollling*/
}

body {
    margin: 0%; /*site will display to the edge of the browser screen*/
    opacity: 1; /* this & transition affect the page loading fade in efffect*/
    transition: 3s opacity; /*this causes a 3 second fade in*/
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetiva;
    font-size: 1.5vw;
}

/*fade effect for the page when loaded*/

body.fade-out {
    opacity: .1; /*sets the level of opacity at the start of a page load*/
    transition: none;
}

.Navbar {
    overflow: hidden;
    background-color: black; /*keeps navbar black*/
    position: fixed; /*keeps the navbar at the top of the screen while scrolling*/
    top: 0; /*Ensures no space is displayed above the navbar*/
    width: 100%; /*ensures navbar will span the entire width of the page*/
    z-index: 1; /*ensures other elements won't display over the navbar*/
    position: fixed; /*do we need this here? there is another*/
    -webkit-animation: moveNav 7.75s; /*Safari 4.0-8.0 what is this even?*/
    animation: moveNav: 5s;
}

/*Navbar Text*/
.Navbar a {
    float: left; /*specifies that the text floats on the left on the navbar*/
    display: block; /*ensjures that other text will be displayed on the sam line or row*/
    color: white; /*this is the font color for the navbar text*/
    padding: .75vw 1vw; /*adds padding around our text*/
    text-decoration: none; /*this gets rid of the underlines under the text on our navbar*/
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center; /*this centers the text w/in container*/
    position: relative;
    -webkit-animation: movenavText 5.57s;
    animation: movenavText 5.75s;
    letter-spacing: .2vw;
}

/*the annimation effect for moving the nav bar in from above the tope of the screen upon page load*/
/*looks like something is funky here*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*the annimation effect for moving the nav bar in from above the tope of the screen upon page load*/
*@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*this causes the overlay video text to move up from the bottom of the page upone page load*/
@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

/*navbar hover effect */
.Navbar A:hover {
    background-color: #f4f4f4; /*defines the background color that will display when you hover over the text on the navbar*/
    color: black;
    font-weight: bold; /*text will become bold when hovered*/
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
/*navbar home button*/
.Navbar a.active { /* the active selector styles a link*/
    background-color: darkgray; /*specifies the background color behind the home button on the navbar*/
}

/*this causes the video to zoom out from a zoomed in position upon page load*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/*Video*/
#forest_drone {
    position: fixed; /*fixes video in place*/
    right: 0;
    bottom: 0;
    min-height: 100%; /*displays video across the full height of the page*/
    top: 0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}
/*text over the video*/
.Video_Text {
    background: rgba(0, 0, 0, 0.5); /*provides a semi-transparent background for the text to sit over*/
    color: white;
    width: 100%;
    padding-top: .1vh; /*this adds padding around the text so that the background goes slightly beyond the text*/
    padding-bottom: 1vh;
    margin-top: 23%;
    position: relative;
    
    -webkit-animation: MoveNav 8s; /*safari 4.0 -8.0*/
    animation: movevideoText 8s;
}

/*slideshow styling*/
#Slideshow_Background {
    background:rgba(255,255,255,0.35); /*creates a sligthly transparent white background that's placed over the video*/
}

/*.mySlides {
    display:none;
}*/

/*a-webkit-keyframes mySlides fade {
    from {opacity: .4} /*does this need a semi-colon?
    to {opacity: 1}
}*/

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/*Positioning the right-hand next button*/
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*hover effect on slide show buttons*/
.Previous: hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/*Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

/*number text (1/6 etc.) display is set to none*/
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}
/*dots udnder the slideshow*/

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

/* hover effect for slideshow dots */
.active, .dot:hover; {
    background-color: black;
}

/*fading animation for slideshow*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/*table this section covers the styling of colums/rows*/
*{/*the asterisk is a universal selector that applies this effect to all elements on the page*/
    box-sizing: border-box; /*this creats a box with a border w/in we will place most of our text*/
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    background-color:#f2f2f2;
    height: 330px; /*may need to adjust this to fit content*/
}

.Column_2 {
    float: left;/*was left in the orginal?*/
    width: 50%;
    padding 1.6%;
    height: 330px; /*may need to adjust this to fit content*/
    background-color: #4d4d4d;
}

.Row:after {/*this inserts something after the content of selected elements*/
    content:"";/*leaving this blank allows the footer (covered lower down) to be displayed -if rmvd makes the footer overwrite a column*/
    display: table; /*the display property specifies the type of display behavior; to treat the element as a table*/
    clear: both; /*this clears any other elements from floating on the left or right of an element*/
} 

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%; /*adding a small margin above the headings*/
    color: #1a1a1a;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.25vw;
    padding-left: 1vw;
    padding-right: 1vw;
}*/

/*center allgn elements - this embraces all centered text- what does that mean?*/
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw; /*expands the text slightly*/
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
/*anchor elements?*/
a {
    color: blue; /*making all the links blue*/
}

/*quotation elements */
q {
    font-style: italic;
    font-weight: bold;
}

/*image elements*/
img {
    filter: grayscale(75%); /*rids the pictures of 75% of their color*/
    border-radius: 8px; /*gives the images rounded edges*/
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block; /*by specifiying block display we can ensure our images are able to be centered*/
}

/*Center align element hover effect */
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*paragraph element hover effect */
p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}
/*Image element hover effects*/
img:hover {
    filter: grayscale(5%); /*brings back most of images color when hovered over */
    transition: transition 1s;
    transform: scale(1.1);
}

/*contact form styling*/
/*makes contact form button slide in from right on page load*/

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw}
}


/*button used to open the contact form - fixed at the bottom of the page*/
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/*input fields*/

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
}

/*submit button*/
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/*close button*/
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/*button styling*/
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/*hover effect for buttons*/

button:hover, .form-container .btn:hover{
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: sliver;
}

.form-container .cancel:hover{
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black
}

/*footer element*/
footer {
    padding: 2%;
    background-color: white;
}